@if (Project != null)
{
    <MatCard class="tc-card-main">

        <MatH5>
            Projeto: <strong>@Project.ProjectNumber</strong>
        </MatH5>

        <MatBody2>
            <MatH6>
                <strong>Projeto : </strong>@Project.ProjectNumber
            </MatH6>
            <MatH6>
                <strong>Descrição : </strong>@Project.ProjectName
            </MatH6>
        </MatBody2>

    </MatCard>
}
else
{
    <h4>Carregando Dados...</h4>
    <h4>Aguarde ...</h4>
}

@code {
    [Parameter]
    public Project Project { get; set; }
}
