@page "/"
    <div class="container-fluid">
        <div> 
            <h1>Idugel Portal</h1>
            <h5>Bem Vindo ao Idugel Portal Manager</h5>
        </div>
        <div class="row">
            <div>
                <img class="tc-center img-fluid" width="80%" height="50%" src="http://www.idugel.com.br/uploads/banners/BannerPrototipagem4.png" />
            </div>
        </div>
    </div>


